<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->

<div class="toolbar" role="banner">
        <a href="">
          <span style="color: rgb(255, 0, 0); margin: 2px">Autoservice</span>
        </a>
        <nav>
          <a href="/home" >Главная</a>
          <a href="not-found" >Услуги</a>
          <a href="about" >О компании</a>
          <a href="not-found" >Прайс-лист</a>
          <a href="contacts" >Контакты</a>
        </nav>
      </div>