<div class="content" role="main">
    <div class="signin">
        <h1>Войти</h1>
        <input [(ngModel)]="login" type="text" placeholder="login">
        <input [(ngModel)]="password" type="password" placeholder="password">
    </div>
    <button class="button submit" (click)="buttonLoginClick()">Войти</button>
    <button class="button submit" routerLink="/reg">Зарегистрироваться</button>
    <button class="button submit"
        onclick="location.href = 'https://oauth.vk.com/authorize?client_id=7244062&display=page&redirect_uri=http://localhost:4200/home/&scope=email&response_type=token&v=5.52'">Войти
        через VK</button>

</div>