
<div class="content" role="main">
        <div >
          <h1>Акции</h1>
        </div>
        <div class="main-content">
            <table>
              <tr>
                <td >
                  <div class = "imgblock">
                      <img src="assets/dvs.jpg" width="640px"/>
                      <a href="/not-found" >
                          Замена масла
                      </a>
                      <span>
                          Замена масла в двигателе в подарок, при покупке масла и маслянного фильтра в нашем сервисе.
                      </span>
                  </div>
                    
                </td>
                <td>
                    <div class = "imgblock">
                        <img src="assets/wash.jpg" width="640px"/>
                        <a href="/not-found" >
                            Мойка
                        </a>
                        <span>
                            При заказе запчастей мойка в подарок.
                        </span>
                    </div>
                </td>
              </tr>
              <tr>
                <td>
                    <div class = "imgblock">
                        <img src="assets/repair.jpg" width="640px"/>
                        <a href="/not-found" >
                            Рассрочка
                        </a>
                        <span>
                            Мы предоставляем услуги по ремонту вашего авто в рассрочку. Ремонтируйтесь сейчас, а деньги платите потом!
                        </span>
                    </div>
                </td>
                <td>
                    <div class = "imgblock">
                        <img src="assets/condition.jpg" width="640px"/>
                        <a href="" >
                            Вернем свежий воздух
                        </a>
                        <span>
                            На СТО действует акция «Диагностика системы кондиционирования" за 350 рублей.
                        </span>
                    </div>
                </td>
              </tr>
            </table>
          
          </div>
      </div>
      
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
      <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
      <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
      <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
      <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
      
      
      
      <router-outlet></router-outlet>
