<div class="content" role="main">
    <h1 style="padding: 18px; font-family: 'Times New Roman', Times, serif; margin-top: 35px; margin-left:500px;">Услуги</h1>
    <table>
        <tr *ngFor="let servicesByCategory of servicesView">
            <td>
            <h2>{{servicesByCategory.name}}</h2>
                <table>
                    <tr *ngFor="let servicesLine of servicesByCategory.array">
                        <td *ngFor="let service of servicesLine">
                            <img src={{service.url}} width="240px" >
                            <h4>{{service.description}} <br> {{service.price}} </h4>
                        </td>
                        <td *ngFor="let service of servicesLine">
                            
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>