<p style="margin: 5%;">
    <a target="_blank" style = "color: black;" href="https://www.dropbox.com/home/Приложения/AutoService">Папка с файлами на DropBox</a>
</p>

 <div *ngIf="!isUpload"> 
    <div class="input-group" style="width: 35%; margin: 2%">
        <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01" (change)="fileChange($event)">
       
      </div>
    </div>

     <button mdbBtn color="dark" style="font-size: 70%; margin: 2%"
            mdbWavesEffect (click)="upload()" [disabled]="!uploadedFiles">
      Отправить
    </button>
  </div>

   <div *ngIf="isUpload" class="d-flex justify-content-center">
    <div class="spinner-border m-5" role="status">
      <span class="sr-only">Loading...</span>  
    </div>
  </div>
